<h3>欢迎您，<%= @logged_administrator.username %></h3>
<p>点击左侧可以对系统进行管理。包括用户管理/管理员管理（非管理员只能查看和修改自己的信息）/题库管理/考试管理。祝您使用愉快！</p>
<div class="well">
	<table class="table">
		<tr>
			<td>系统启动时间</td>
			<td><%= START_TIME %></td>
		</tr>
		<tr>
			<td>系统运行时间</td>
			<td><%= time_span (Time.now-START_TIME) %></td>
		</tr>
		<tr>
			<td>当前系统用户数量</td>
			<td><%= User.count %></td>
		</tr>
		<tr>
			<td>当前系统管理员数量</td>
			<td><%= Administrator.count %></td>
		</tr>
		<tr>
			<td>题库题目总量</td>
			<td><%= Question.count %></td>
		</tr>
		<tr>
			<td>考试数量</td>
			<td><%= Exam.count %></td>
		</tr>
		<tr>
			<td>学生参加考试总次数</td>
			<td><%= @exam_count %></td>
		</tr>
	</table>
</div>