<p id="notice"><%= notice %></p>

<p>
  <strong>管理员姓名:</strong>
  <%= @administrator.username %>
</p>

<p>
  <strong>是否为管理员:</strong>
  <%= @administrator.is_admin %>
</p>

<%= link_to '编辑', edit_administrator_path(@administrator) %> |
<%= link_to '返回', administrators_path %>
